---
- include_vars: "{{ansible_distribution}}.yml"
  when: ansible_os_family != "Suse"
- include_vars: "{{ansible_os_family}}.yml"
  when: ansible_os_family == "Suse"

- debug: msg="Hallo FTP Server der Familie {{ansible_distribution}}, Config {{ftp_config}} "

- name: vsftpd installieren
  package: name=vsftpd 

- name: locate installieren
  package: name='*locate'

- name: Datenbank erstellen
  command: updatedb
  args:
    creates: "{{locate_db}}"

- name: Configure firewall on RedHat systems
  firewalld:
    state: enabled
    port:  21/tcp
    immediate: yes
    permanent: yes
  when: ansible_os_family == "RedHat"

- name: vsftpd starten und in den Autostart setzen
  service: name=vsftpd state=started enabled=yes

- name: FTP Prozess 端berpr端fen
  shell: ps auxww | grep ftp | grep -v grep 
  register: psausgabe
  changed_when: false
- debug: var=psausgabe.stdout

- name: local_umaks auf {{ ftp_umask }} setzen
  lineinfile:
    path: "{{ ftp_config }}"
    regexp:  '.*local_umask=.*'
    line: 'local_umask={{ftp_umask}}'
  notify:
     - restart vsftpd

- meta: flush_handlers

- name: FTP Prozess 端berpr端fen
  shell: ps auxww | grep ftp | grep -v grep
  register: psausgabe
  changed_when: false

- debug: var=psausgabe.stdout

